<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pandabearsinc.sommer.depolarizedpanda_11383" >

    <application
        android:name="Dates"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
          <activity
            android:name=".MedicationActivity"
             >
        </activity>
        <activity
            android:name=".NewMedicationActivity"/>
        <activity
            android:name=".ChooseHistoryActivity">
        </activity>
        <activity
            android:name=".HistoryActivity"
           >
        </activity>
        <activity
            android:name=".NoteActivity"
          />

        <service
            android:name=".GetHistoryFromDB"
            android:exported="false" >
        </service>
    </application>

</manifest>
